node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/apps/web/.svelte-kit
/apps/web/build
/.turbo
/apps/*/.svelte-kit
/apps/*/build
/apps/*/.turbo
/apps/*/apps
/.npm/_logs
/Library

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
